.development-skills {
  margin-top: 7vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
  }
  &__links {
    width: 40%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    animation: 0.5s ease-out 0s 1 translateYDown;
    p {
      cursor: pointer;
      border: 2px solid #000;
      padding: 2px;
      @media screen and (max-width: 840px) {
        font-size: 0.75rem;
      }
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }

    &--active {
      text-decoration: none;
      color: #fff;
      background-color: #000;
    }

    @media screen and (max-width: 700px) {
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@keyframes translateYDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

// animation: 0.5s ease-out 0s 1 translateYDown;
