.development-skills {
  margin-top: 7vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
  }
  h3 {
    text-align: center;
  }
  &__frontend {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
  }

  &__backend {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
  }

  &__graphic {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
  }
}
