@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

.header {
  animation: 0.5s ease-out 0s 1 translateYDown;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.3fr;
  grid-column-gap: 0.9em;
  grid-template-areas:
    "header__logo--grid header__logo--grid header__logo--grid"
    "header__link__list--grid header__link__list--grid header__link__list--grid";

  margin-bottom: 3em;

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-template-areas:
      "header__logo--grid"
      "header__link__list--grid";
    margin-bottom: unset;
  }

  &__logo {
    font-family: "Staatliches", Arial, Helvetica, sans-serif;;
    text-align: center;
    cursor: pointer;
    grid-area: header__logo--grid;
    font-size: 3em;
  }

  &__link {
    &__list {
      grid-area: header__link__list--grid;
      text-align: center;
      justify-self: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 0.5em;

      // @media screen and (max-width: 800px) {
      //   // grid-template-columns: 1fr;
      //   // grid-template-rows: 1fr 1fr 1fr;
      //   grid-column-gap: 0.5em;
      // }

      a.active {
        // font-weight: 900;
        // @media screen and (max-width: 600px) {
        text-decoration: none;
        color: #fff;
        background-color: #000 !important;
        // }
      }
    }
    &__item {
      font-size: 1.2em;
      width: 150px;
      border: 2px solid #000;
      padding-left: 3px;
      padding-right: 3px;
      @media screen and (max-width: 800px) {
        margin-right: auto;
        margin-left: auto;
        font-size: 0.9em;

        width: unset;
      }
      &:hover {
        font-weight: 0;
        background-color: #000 !important;
        color: #fff;
      }
    }
  }
}


