@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

.footer {
  font-family: "Staatliches", cursive;
  margin-top: 3em;
  text-align: center;
  font-size: 1em;
  animation: 0.5s ease-out 0s 1 translateXRight;
}