.homepage {
  // margin-top: 6vw;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "profile-photo profile-photo profile-photo profile-photo profile-photo profile-photo description description description description description description"
    "profile-photo profile-photo profile-photo profile-photo profile-photo profile-photo description description description description description description"
    "profile-photo profile-photo profile-photo profile-photo profile-photo profile-photo social-media social-media social-media social-media social-media social-media";

  @media screen and (max-width: 1080px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr 0.3fr;
    grid-template-areas:
      "profile-photo"
      "description"
      "social-media ";
  }

  &__profile-photo {
    grid-area: profile-photo;
    justify-self: center;
    align-self: center;
    animation: 0.5s ease-out 0s 1 translateXLeft;

    img {
      width: 35vw;
      @media screen and (max-width: 1000px) {
        width: 50vw;
        padding-bottom: 20px;
      }
    }
  }

  &__description {
    grid-area: description;
    align-self: center;
    text-align: right;
    font-size: 2.8em;
    animation: 0.5s ease-out 0s 1 translateXRight;

    @media screen and (max-width: 1080px) {
      font-size: 1.5em;
      text-align: center;
      align-self: start;
      margin-bottom: 30px;
    }
  }

  &__social-media {
    grid-area: social-media;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    align-self: start;
    text-align: right;
    animation: 0.5s ease-out 0s 1 translateXRight;

    @media screen and (max-width: 1080px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.2fr 0.2fr;
      row-gap: 2em;
      text-align: center;
    }
  }
}
